li > p {
    margin-bottom: 0;
}

.wide {
    max-width: 1440px;
}    

/* These are used on some inline images where we don't what a whopping margin! */
.img-inline {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
