<!-- 
Overrides the katex.html in the theme, replacing the standard auto-render stuff with code which can handle $..$.
I've also removed the inner stuff, so the usage is now
just the code at the start of the page, and then $$..$$ and $..$.
-->

{{- if not (.Page.Scratch.Get "katex") -}}
<!-- Include katext only first time -->
<link rel="stylesheet" href="{{ "katex/katex.min.css" | relURL }}" />
<script defer src="{{ "katex/katex.min.js" | relURL }}"></script>
<script>
function renderMathJCF() {
    renderMathInElement(document.body,{
                        delimiters: [
                        {left: '$$', right: '$$', display: true},
                        {left: '$', right: '$', display: false},
                        {left: '\\(', right: '\\)', display: false},
                        {left: '\\[', right: '\\]', display: true}
                        ],
                        throwOnError : true
                    })
    }
</script>


<script defer src="{{ "katex/auto-render.min.js" | relURL }}" onload="renderMathJCF();"></script>
{{- .Page.Scratch.Set "katex" true -}}
{{- end -}}


