site_name: PCOT Documentation

theme:
    name: mkdocs
    custom_dir: theme
    
markdown_extensions:
  - footnotes
  - attr_list
  - lightbox:LightBoxExtension # lightbox images with ![!Caption](img.png)
  - alert:AlertExtension # alert with @@@ tag .. @@@ markup
  - pymdownx.arithmatex # permits $..$ and \[ .. \] for maths; \begin{..}..\end{..} works too
  - pymdownx.magiclink  # converts raw URLs to links, and can do github issue/commit links
  - pymdownx.mark       # permits <mark> tags with ==this markup==
  - pymdownx.snippets:  # transclusion with --8<-- "filename.ext"
        check_paths: True
        base_path: ['docs/','.']

nav:
    - Getting Started:
        - Overview: gettingstarted/index.md
        - Installing and running: gettingstarted/installrun.md
        - PCOT concepts: gettingstarted/concepts.md
        - Tutorial: gettingstarted/tutorial.md
        - Loading other image formats: gettingstarted/inputs.md
        - Getting help: gettingstarted/help.md
    - User Guide: 
        - Overview: userguide/index.md
        - Operating principles: userguide/principles.md
        - The Canvas: userguide/canvas.md
        - Global Controls: userguide/globalcontrols.md
        - Reading images from multiple files: userguide/multifile.md
        - The "expr" node for mathematical expressions: userguide/expr.md
        - Batch mode: userguide/batch.md
        - Autodocs: autodocs/index.md
    - Developer's Guide:
        - Overview: devguide/index.md
        - Using PCOT as a library: devguide/library.md
        - Writing PCOT plugins: devguide/plugins.md
        - Node serialisation: devguide/nodeser.md
    - Roadmap: roadmap.md
    - Known issues: gettingstarted/issues.md

extra_javascript:
    - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML

